body {
    font-family: "Lucida Console", "Courier New", monospace;
    height: 100%;
    margin: 0;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
  'header header header'
  'menu main right'
  'footer footer footer';
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 85% 5%;
    background-color: #2196F3;
}

/*HEADER*/
.item1 {
    grid-area: header;
    width: 100%;
    background-color: beige;
    text-align: center;
}
/*Navigation*/
.item2 {
    grid-area: menu;
    text-align: center;
    background-color: #a0aec0;
}
/*MAIN*/
.item3 {
    grid-area: main;
    background-color: lightskyblue;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Right*/
.item4 {
    grid-area: right;
    background-color: goldenrod;
}

/*Footer*/
.item5 {
    grid-area: footer;
    width: 100%;
    background-color: #6b7280;
    text-align: center;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    border: 1px solid #ddd;

}

#exchange {
    border-radius: 25px;
    border: 2px solid #1a202c;
    padding: 20px;
    width: 200px;
    height: 150px;
    float: left;
    margin: 20px;
}


